<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
   <h1 id="sub">Formación Académica</h1>
   <div>
     <ul>
       <li>
         <h1>Escuela Media N°3 Quilmes</h1>
         <h2>Bachiller en Ciencias Sociales</h2>
         <h3>2016</h3>
      </li>
     </ul>
     <ul>
       <li>
         <h1>Universidad Tecnológica Nacional</h1>
         <h2>Ingenieria Electrónica</h2>
         <h3>2017 - En pausa</h3>
         <h2>Ingeniería Industrial</h2>
         <h3>2021 - Actualidad</h3>
         <p>Porcentaje de la carrera: 26%</p>
         <p>Promedio: 7,5</p>
        </li>
      </ul>
    </div>
 </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h2 id="sub2">Formación Relevante</h2>
    <div>
      <ul>
      <li>
        <h2>Informática</h2>
        <p>Paquete Office intermedio </p>
        <p>AutoCAD y CATIA intermedio. </p>
        <p>Python intermedio </p>
        <p>Lenguaje C intermedio.</p>
        <p>Base de Datos básico </p>
        <p>MySQL conocimiento básico </p>
        <p>Html, CSS, Angular y Node.JS básico.</p>
        <p>JavaScript básico. </p>
        <p> Ruby básico.</p>
      </li>
    </ul>
    <ul>
      <li>
        <h2>Idioma</h2>
        <h3>Ingles - avanzado</h3>
      </li>
    </ul>
   </div>
</div>
  </div>
