<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/perfil-m.png" class="img-fluid"
       id="perf">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nom"> Leiva Luciana Leiva</p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">
      <span>
        <h1 id="sub">Acerca de mí</h1>
        <p>Soy una estudiante del tercer año de Ingeniería Industrial,
          proactiva y didacta. Con conocimientos varios en el campo de la informática.
          Mis objetivos principales son ampliar mi experiencia y conocimiento en
          las áreas de mi interés.
          Por último, tengo como hobby la música y el dibujo.
        </p>
      </span>
    </div>
</div>
