<div class="row">
   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
     <h1 id="sub">Experiencia Laboral</h1>
     <div >
       <ul>
        <li>
        <h1>Proyectos Industriales San Francisco</h1>
        <h2>2020-2022</h2>
        </li>
       <p>-Redacción de documentos</p>
        <p>-Control de gastos.</p>
        <p>-Gestión de cobranzas.</p>
        <p>-Brindar soporte al área de compra y venta.</p>
        <p>-Atención al cliente.</p>
        <p>-Pago a proveedores.</p>
        <p>-Diseño y adecuación de planos.</p>
        <p>-Organización de documentos.</p>
        <p>-Gestionar sueldos, vacaciones, ausentismo, etc.</p>

        </ul>
      </div>
    </div>

</div>
