<div class="row">
  <circle-progress
   [percent]="85"
   [radius]="70"
   [showUnits]="false"
   [title]="'Hi'"
   [outerStrokeWidth]="10"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#78C000'"
   [innerStrokeColor]="'#C7E596'"
   [animation]="true"
   [animationDuration]="300"
></circle-progress>
  <circle-progress
    [percent]="75"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
  <circle-progress
    [percent]="50"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
